.root {
  box-shadow: 0 0 12px 4px rgba(0, 0, 0, 0.3);
  border-radius: 12px;
  padding: 30px;
  flex-basis: 100%;
  max-width: 768px;
  background-color: #fff;
  color: #0a1b49;
}

.title {
  color: #0a1b49;
  margin-bottom: 30px;
}

.result {
  padding-bottom: 70px;
  position: relative;
}

.copied {
  display: block;
  text-align: center;
  font-weight: bold;
  color: gray;
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
  animation-name: moveToTop;
  animation-duration: 0.25s;
  animation-iteration-count: 1;
}

.option {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 30px;
}

.option-text {
  margin-right: 12px;
  font-weight: 600;
  color: gray;
}

.option-label {
  cursor: pointer;
  margin-right: 12px;
  font-weight: 600;
  color: gray;
}

.copy {
  width: 20px;
  height: 30px;
  border: 2px solid #999;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  z-index: 2;
  outline: none;
}

.copy::after {
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  border: 2px solid #999;
  border-radius: 4px;
  position: absolute;
  right: -8px;
  bottom: -8px;
  z-index: -1;
  background-color: #fff;
}

@keyframes moveToTop {
  0% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(0);
  }
}
